<div class="main-container">
    <div fxLayout="row" 
            fxLayout.xs="column"
            fxFlexFill>
        <div fxFlex="30">
            <div> 
                <mat-list>
                    <mat-list-item *ngFor="let usuario of usuarios"> 
                        <button (click)="selectUser(usuario)" > {{usuario.datos.name}} </button>  
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div fxFlex="70">
            <div                 
                class="content" 
                fxLayout="column" 
                fxFlexFill >
                            
                <div  fxFlex="100" 
                    class="sec1" 
                    *ngIf="!jugador">
                    <div >
                            <button mat-button (click)="crearJugador()" > Crear Jugador </button>
                    </div>
                </div>
                <div  
                    fxFlex="100" 
                    class="sec2" 
                    *ngIf="jugador">
                    <div >  
                        <h1> {{user.datos.name}} </h1>
                        <div class="example-form">
                            <form #jugadorForm="ngForm" (keydown)="keyDownFunction($event)">
                                <table  cellspacing="0">
                                    <tr>
                                        <td>
                                            <mat-form-field>
                                                <input matInput placeholder="Apodo" [(ngModel)]="jugador.datos_jugador.apodo" name="apodo">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field>
                                                <input matInput placeholder="Nombre y Apellido" [(ngModel)]="jugador.datos_jugador.habilidad" name="name">
                                            </mat-form-field>
                                        </td>
                                        <td> 
                                            <mat-form-field>
                                            <mat-select placeholder="Rol" [(ngModel)]="jugador.datos_jugador.posicion" name="role">
                                                <mat-option *ngFor="let posicion of posiciones" [value]="posicion"> {{posicion}} </mat-option>
                                            </mat-select>
                                            </mat-form-field> 
                                        </td> 
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <button mat-button type="submit" [disabled]="!jugadorForm.form.valid" (click)="saveJugador(jugador)">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>